
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;

}

.login_form_container {
    position: relative;
    width: 800px;
    height: 400px;

    background: #040717;
    border-radius: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 70px;

}

.login_form_container::before {

    position: absolute;

    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #ee00ff);
    animation: rotate_border 6s linear infinite;

}

.login_form_container::after {

    position: absolute;

    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: rotate_border 6s linear infinite;
    animation-delay: -3s;
}

@keyframes rotate_border {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.login_form {
    position: absolute;
    content: '';
    background-color: #0c1022;
    border-radius: 50px 5px;
    inset: 5px;
    padding: 50px 60px;
    z-index: 10;
    color: #00ccff;


}

h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.inputfeilds {

    margin-top: 90px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;


}


.input2 {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #00ccff;
    font-size: 20px;
    padding-left: 10px;
    color: #00ccff;

}

.inputtext {
    width: 85%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #00ccff;
    font-size: 20px;
    padding-left: 10px;
    color: #00ccff;

}

::placeholder {
    font-size: 15px;
    color: #12131352;
    letter-spacing: 1px;

}

.fa {
    font-size: 20px;

}

#login_button {
    position: relative;
    width: 200px;
    height: 40px;
    transition: 1s;
    margin-top: 10px;


}

#login_button a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 2px;
    border: 1px solid #00ccff;
    border-radius: 50px;
    background-color: #0c1022;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding-left: 20px;
}

.fotter {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

}

.fotter a {
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

.glowIcon {
    text-shadow: 0 0 10px #00ccff;

}
.inputs{
    padding: 10px;
    
}